# Ignore large directories and files
venv/
lightning_logs/

# Ignore data directories but keep their structure
data/raw/*
data/processed/*
checkpoints/*

# Keep these specific files
!data/raw/id.json
!data/processed/mmr_action/README.md
!data/processed/mmr_iden/README.md
!data/processed/mmr_keypoints/README.md
!checkpoints/README.md

# Explicitly ignore large files
data/processed/mmr_action/seed_20_stacks_5_padd_point_task_action.pkl